.container{
    display: flex;
    width: 100vw;
    background-color: var(--black);
    color: var(--white);
    padding: 20px 150px;

    p{
        font-family: var(--ff-primary);
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
}